<footer class="wrapper">
    <div class="footer">
        <div class="hline"></div>
        <div class="footer-thanks-message">
            <h3>Thanks for visiting my Website! 😊</h3>
        </div>
        <div class="footer-contact-btn">
            <a href="#contact-me">
            Let's get in touch!
            </a>
        </div>
        <div class="footer-social-media">
            <div class="sm-message">
                <h5>You can also reach me out through:</h5>
            </div>
            <div class="sm-icons">
                <a href="https://github.com/NicoloTrombin" target="_blank"><i class='bx bxl-github'></i></a>
                <a href="https://www.linkedin.com/in/nicolotrombin/" target="_blank"><i class='bx bxl-linkedin-square'></i></a>
                <a href="mailto:nikitrombin744@gmail.com"><i class='bx bx-envelope'></i></a>
            </div>
        </div>
        <div class="author">
            <h4>Made with ❤️ by Nicolò Trombin.</h4>
        </div>
    </div>
</footer>