<header [ngClass]="isNavbarHidden ? 'hidden' : '' " [@hideNavbar]="isNavbarHidden ? 'hidden' : 'visible'">
    
        <div class="container">
        <nav id="nav" class="nav_checkbox">
            <a href="#" class="logo">&#123; {{ 'short_name' | translate }} &#125;</a>
            <input type="checkbox" id="tab-nav" class="tab-nav" [(ngModel)]="checkboxValue">
            <label for="tab-nav" class="label">
                <div id="burg1" class="burger"></div>
                <div id="burg0" class="burger"></div>
                <div id="burg2" class="burger"></div>
            </label>
            <ul class="content_nav">
                <li><a href="#career" (click)="toggleCheckbox()">{{ 'about' | translate }}</a></li>
                <li><a href="#projects" (click)="toggleCheckbox()">{{ 'projects' | translate }}</a></li>
                <li><a href="#contact-me" (click)="toggleCheckbox()">{{ 'contact' | translate }}</a></li>
                <li><app-base-switcher (click)="toggleCheckbox()"></app-base-switcher></li>
            </ul>
        </nav>
    </div>

</header>



