<div class="dropdown">
    <button class="dropbtn" (click)="toggleDropdown()">
        <!-- <label>{{selectedLanguage.name}}</label> -->
        <img class="flag" [src]="selectedLanguage.flag" alt="{{selectedLanguage.name}} flag">
    </button>
    <div class="dropdown-content" 
         [ngClass]="{ 'show': isDropdownVisible }">
        <a *ngFor="let language of languages" 
            (click)="selectLanguage(language); toggleDropdown()"
            [ngClass]="{ 'selectedLang' : language === selectedLanguage }">
            <img class="flag" [src]="language.flag" alt="{{language.name}} flag">
            <label>{{language.name}}</label>
        </a>
    </div>
</div>