<!-- Welcome Popup -->
<!-- <div class="modal-backdrop" *ngIf="isPopupVisible">
    <div class="popup">
        <button id="close" (click)="tooglePopup()">&#x2715;</button>
        <h2>Tutorial</h2>
        <p>Welcome to my creative space. Let's make something amazing together.</p>
        <p>By clicking on the following icons, you can perform actions and interactions. 
        </p>
         <i class='bx bx-pointer'></i> &nbsp; <i class='bx bxs-circle'></i>
    </div>
</div> -->

<app-header></app-header>
<app-home-page></app-home-page>
<app-about-page></app-about-page>
<app-projects></app-projects>
<app-contact-me></app-contact-me>
<app-footer></app-footer>