section {
    width: 100vw;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 5rem;
    width: 60vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*** About me ***/
.about-me {
    text-align: center;
}

.about-me-title h3{
    font-size: 2.3rem;
    font-weight: 800;
}

.about-me-description h5 {
    margin-top: .8rem;
    font-size: 1rem;
    font-weight: 500;
    color: #9fd3c7;
}

.about-me-content {
    margin-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.9rem;
}

.about-me-content a {
    font-weight: 800;
    cursor: pointer;
    transition: all .3s;
}

.about-me-content a:hover {
    color: #284184;
}

.about-me-content i{
    transform: translate(20%, 20%);
    font-weight: 600;
}

/*** Media Queries ***/
@media(max-width: 1000px) {
    .bxs-briefcase, .bxs-graduation {
        transform: translate(-20%, 20%);
    }
    .career-studies-jobs .bx-pointer {
        transform: translate(20%, 50%);
    }
    section {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .wrapper {
        width: 100vw;
    }
    .wrapper2 {
        width: 100%;
    }
    .career {
        width: 100%;
    }
    .career-studies-jobs {
        display: flex;
        align-items: center;
    }
    .career-studies-jobs a{
        display: flex;
    }
    .career-content {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .studies-content {
        display: flex;
        flex-direction: column;
    }
    .hline{
        display: none;
    }
    .hline1{
            display: none;
    }
   .studies-content-1 .studies-content-header {
        display: flex;
        justify-content: left;
    }
    .studies-content-2 .studies-content-header {
        display: flex;
        justify-content: right;
    }
    .studies-content-3 .studies-content-header {
        display: flex;
        justify-content: left;
    }
    .studies-content-2 .studies-content-information {
        text-align: end;
    }
    .jobs-content {
        display: flex;
        flex-direction: column;
    }
    .jobs-content-1 .jobs-content-header {
        display: flex;
        justify-content: left;
    }
    .jobs-content-2 .jobs-content-header {
        display: flex;
        justify-content: right;
    }
    .jobs-content-3 .jobs-content-header {
        display: flex;
        justify-content: left;
    }
    .jobs-content-2 .jobs-content-information {
        text-align: end;
    }
}

@media(max-width: 768px) {
    .skills-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;  
    }
    .tools-skills {
        transform: translate(0%, 0%);
    }
}

@media(max-width: 476px) {
    .box-skills{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media(max-width: 390px) {
    .career-content {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .career-studies-jobs .bx-pointer {
        display: none;
    }
    .career-studies-jobs {
        gap: 1rem;
    }
}