<!-- About me -->
<section class="wrapper" id="career">
    <div class="about-me" >
        <div class="about-me-title">
            <h3>{{ 'about_me' | translate }}</h3>
        </div>
        <div class="about-me-description">
            <h5>{{ 'who_im_i' | translate }} ?</h5>
        </div>
        <div class="about-me-content">
            <p>
                <strong style="font-weight: 800;">{{ 's_developer' | translate }},</strong>
                {{ 'passion' | translate }}.
                {{ 'I' | translate }} ❤ {{ 's_passion' | translate }}.
                {{ 'some_of_work' | translate }} <a href="#projects">{{ 'projects_section' | translate }}</a> <i
                    class='bx bx-pointer'></i>
            </p>
            <br>
            <p>
                {{ 't_passion' | translate }}.
            </p>
            <br>
            <p>
                {{ 'f_passion' | translate }}.
                <br>
                <a href="#contact-me">{{ 'lets_make_something_special' | translate }}.</a> <i class='bx bx-pointer'></i>
            </p>
        </div>
    </div>
</section>

<app-skills></app-skills>

<app-studies-jobs></app-studies-jobs>