<section class="wrapper">
    <div class="presentation container">
        <div class="hello">
            <h3>{{ 'Hello' | translate }} 👋🏻 , {{ 'Im' | translate }}</h3>
        </div>
        <div class="name">
            <h1>{{ 'name' | translate }}<br> {{ 'last_name' | translate }}</h1>
        </div>
        <div class="position">
            <h3>{{ 's_developer' | translate }}.</h3>
        </div>
        <div class="contact-resume-btn buttons">
            <a href="#contact-me">
                <i class='bx bx-paper-plane'></i>
                {{ 'contact' | translate }}
            </a>
            <a href="https://drive.google.com/drive/folders/1kxrnlAaoq2kY2xybdrV3qmdk8k4ShLMm?usp=sharing" target="_blank">
                <i class='bx bx-cloud-download'></i>
                {{ 'resume' | translate }}
            </a>
        </div>
    </div>
</section>
<div class="social-media group">
    <a href="https://github.com/NicoloTrombin" target="_blank"><i class='bx bxl-github'></i></a>
    <a href="https://www.linkedin.com/in/nicolotrombin/" target="_blank"><i class='bx bxl-linkedin-square'></i></a>
    <a href="#contact-me"><i class='bx bx-envelope'></i></a>
    <div class="vl"></div>
</div>
