<!-- Skills -->
<section class="wrapper1">
    <div class="skills" data-aos="fade-down">
        <div class="skills-header">
            <div class="skills-title">
                <h3>{{ 'skills' | translate }}</h3>
            </div>
            <div class="skills-description">
                <h5>{{ 'knowledge' | translate }}</h5>
            </div>
        </div>
        <div class="skills-content">
            <div>
                <div class="icon-skills">
                    <i class='bx bx-code-alt'></i>
                </div>
                <div class="box-skills">
                    <button>{{ 'angular' | translate }}</button>
                    <button>{{ 'typescript' | translate }}</button>
                    <button>{{ 'vue' | translate }}</button>
                    <button>{{ 'javascript' | translate }}</button>
                </div>
            </div>
            <div>
                <div class="icon-skills">
                    <i class='bx bx-data'></i>
                </div>
                <div class="box-skills">
                    <button>{{ 'java' | translate }}</button>
                    <button>{{ 'mysql' | translate }}</button>
                    <button>{{ 'sql' | translate }}</button>
                    <button>{{ 'spring_boot' | translate }}</button>
                </div>
            </div>
            <div class="tools-skills">
                <div class="icon-skills">
                    <i class='bx bx-wrench'></i>
                </div>
                <div class="box-skills">
                    <button>{{ 'github' | translate }}</button>
                    <button>{{ 'gitlab' | translate }}</button>
                    <button>{{ 'postman' | translate }}</button>
                    <button>{{ 'figma' | translate }}</button>
                    <button>{{ 'scrum' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</section>