.wrapper1 {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 5rem;
    overflow-x: hidden; 
    overflow-y: hidden;
}

/*** Skills ***/
.skills {
    text-align: center;
}

.skills-header .skills-title h3 {
    font-size: 2.3rem;
    font-weight: 800;
}

.skills-header .skills-description h5 {
    margin-top: .8rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
}

.skills-content {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.icon-skills i {
    font-size: 7rem;
    color: var(--primary-color);
}

.box-skills button {
    border-color: transparent;
    border-radius: 5px;
    background-color: rgb(58, 63, 72);
    padding: 8px 10px 8px 10px;
    margin: 8px;
    font-size: 1rem;
    font-weight: 700;
}

.tools-skills {
    transform: translate(50%);
}