<section class="wrapper" >
    <div class="presentation container">
        <div class="hello">
            <h3>Hi 👋🏻 , I'm</h3>
        </div>
        <div class="name">
            <h1>Nicolò <br> Trombin</h1>
        </div>
        <div class="position">
            <h3>Software Developer.</h3>
        </div>
        <div class="contact-resume-btn buttons">
            <button>
                <i class='bx bx-paper-plane'></i>
                Contact me
            </button>
            <button>
                <i class='bx bx-cloud-download'></i>
                Resume
            </button>
        </div>
    </div>
</section>
<div class="social-media group">
    <a href="#"><i class='bx bxl-github'></i></a>
    <a href="#"><i class='bx bxl-linkedin-square'></i></a>
    <a href="#"><i class='bx bx-envelope'></i></a>
    <div class="vl"></div>
</div>
