.wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

/*** Career ***/
.hline{
    display: block;
    border-bottom: solid 2px var(--primary-color);
    width: 15rem;
    margin-left: .7rem;
    margin-right: .7rem;
}

.hline1{
    display: block;
    border-bottom: solid 2px var(--primary-color);
    width: 15rem;
    margin-left: .7rem;
    margin-right: .7rem;
}

.career {
    text-align: center;
}

.career-header .career-title h3 {
    font-size: 2.3rem;
    font-weight: 800;
}

.career-header .career-description h5 {
    margin-top: .8rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
}

.career-studies-jobs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}

.career-studies-jobs a {
    font-size: 1.5rem;
    transition: all .3s;
}

.career-studies-jobs a .bx{
    transition: all .3s;
}

.career-studies-jobs .bx-pointer {
    font-size: .9rem;
    transform: translate(-10%, 40%);
}

.career-studies-jobs a:hover .bx {
    color: var(--primary-color) ;
} 

.career-studies-jobs a:hover {
    color: var(--primary-color);
}

.career-content {
    margin-top: 2rem;
}

/*** Studies Content ***/
.studies-content {
    display: flex;
}

.studies-content-header{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.studies-content-header i{
    font-size: 1.5rem;
    color: var(--dark-background);
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 7px 7px 7px 7px;
}

.studies-content-information {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 1rem;
}

.studies-content-information .studies-content-title h4{
    font-weight: 700;
}

.studies-content-information .studies-content-date h5 {
    font-size: .8rem;
    font-weight: 400;
    color: var(--gray);
}

.studies-content-information .studies-content-position h4 {
    margin-top: 1rem;
}

.borderBottom-studies {
    border-bottom: 2px solid var(--primary-color);
}

/*** Jobs Content ***/
.bxs-briefcase {
    font-size: 1.4rem;
    transform: translateX(-10%);
}
.jobs-content {
    display: flex;
}

.jobs-content-header{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.jobs-content-header i{
    font-size: 1.5rem;
    color: var(--dark-background);
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 7px 7px 7px 7px;
}

.jobs-content-information {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 1rem;
}

.jobs-content-information .jobs-content-title h4{
    font-weight: 700;
}

.jobs-content-information .jobs-content-date h5 {
    font-size: .8rem;
    font-weight: 400;
    color: var(--gray);
}

.jobs-content-information .jobs-content-position h4 {
    margin-top: 1rem;
}

.borderBottom-jobs {
    border-bottom: 2px solid var(--primary-color);
} 
